.ilkokul {
    width: 700px;
     height: 100px;
      background-color: rgb(147, 103, 230);
       margin: auto;
        margin-bottom: 60px;
         margin-top: 180px;
          border-radius: 5px;
           color: white;
        }
.ortaokul {
            width: 700px;
             height: 100px;
              background-color: rgb(147, 103, 230);
               margin: auto;
                margin-bottom: 60px;
                 border-radius: 5px;
                  color: white;
                }
.lise {
                    width: 700px;
                     height: 100px;
                      background-color: rgb(147, 103, 230);
                       margin: auto;
                        margin-bottom: 60px;
                         border-radius: 5px;
                          color: white;
                        }
ul li a { display: block; color: white; font-family: Human; font-size: 90px; text-align: center; text-decoration:none}       
ul { list-style-type: none;}
.okulfoto {
   width: 200px;
    height: 200px;
     margin: auto;
      margin-left: 700px;
    }
        